In [1]:
import numpy as np
import pandas as pd

In [21]:
weird = pd.read_csv('./KISTI_rawdata/20190714/weird.00-00-00-01-00-00.log', skiprows=[0,1,2,3,4,5,6, 7], sep='\t',\
                   names=['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h','id.resp_p', 'name', 'addl', 'notice', 'peer'])

In [22]:
weird.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,name,addl,notice,peer
0,1563030000.014989,Cn08tw4TYdEgsLZ4oa,61.249.93.101,35232.0,210.98.50.168,443.0,possible_split_routing,-,F,zeek
1,1563030000.015392,Cn08tw4TYdEgsLZ4oa,61.249.93.101,35232.0,210.98.50.168,443.0,data_before_established,-,F,zeek
2,1563030000.097181,Cn08tw4TYdEgsLZ4oa,61.249.93.101,35232.0,210.98.50.168,443.0,inappropriate_FIN,-,F,zeek
3,1563030000.110958,CBzOBN1W4DpS0dOtX8,61.249.93.101,35294.0,210.98.50.168,443.0,possible_split_routing,-,F,zeek
4,1563030000.111407,CBzOBN1W4DpS0dOtX8,61.249.93.101,35294.0,210.98.50.168,443.0,data_before_established,-,F,zeek

In [23]:
weird["name"].unique()

array(['possible_split_routing', 'data_before_established',
       'inappropriate_FIN', 'above_hole_data_without_any_acks',
       'TCP_ack_underflow_or_misorder', 'truncated_tcp_payload',
       'bad_TCP_checksum', 'window_recision', 'SYN_seq_jump',
       'bad_HTTP_request', 'line_terminated_with_single_CR',
       'SYN_after_reset', 'connection_originator_SYN_ack',
       'Teredo_bubble_with_payload', 'FIN_advanced_last_seq',
       'TCP_seq_underflow_or_misorder', 'unknown_routing_type',
       'NUL_in_line', 'premature_connection_reuse',
       'SYN_inside_connection', nan], dtype=object)

In [24]:
weird["id.orig_h"].unique()

array(['61.249.93.101', '61.249.94.113', '203.250.180.14', ...,
       '155.230.70.203', '134.75.193.87', nan], dtype=object)

In [99]:
df = pd.read_csv('kisti_logs.csv')

In [187]:
Counter(df.service.values)

Counter({'ssl': 7995,
         'http': 10397,
         '-': 77491,
         'dns': 54702,
         'ssh': 19,
         'smtp': 17,
         'ftp': 1,
         'imap': 5,
         'ntp': 26801,
         'dhcp': 8,
         'mysql': 1})

In [100]:
df.columns

Index(['Unnamed: 0', 'class', 'conn_state', 'duration', 'history', 'id.orig_h',
       'id.orig_p', 'id.resp_h', 'id.resp_p', 'local_orig', 'local_resp',
       'missed_bytes', 'orig_bytes', 'orig_ip_bytes', 'orig_pkts', 'proto',
       'resp_bytes', 'resp_ip_bytes', 'resp_pkts', 'service', 'ts',
       'tunnel_parents', 'uid', 'StartTime'],
      dtype='object')

In [97]:
result = pd.read_csv('inference_result_cuda:0.csv')

In [10]:
df.head()

,Unnamed: 0,class,conn_state,duration,history,id.orig_h,id.orig_p,id.resp_h,id.resp_p,local_orig,...,orig_pkts,proto,resp_bytes,resp_ip_bytes,resp_pkts,service,ts,tunnel_parents,uid,StartTime
0,0,abnorm,RSTOS0,0.104559,SADFRR,61.249.93.101,35232,210.98.50.168,443,F,...,14,tcp,0,0,0,ssl,1.563030e+09,-,Cn08tw4TYdEgsLZ4oa,2019-07-13 15:00:00.003915071
1,1,abnorm,S0,3.295515,SAD,61.249.93.101,35294,210.98.50.168,443,F,...,15,tcp,0,0,0,ssl,1.563030e+09,-,CBzOBN1W4DpS0dOtX8,2019-07-13 15:00:00.099478006
2,2,abnorm,RSTOS0,0.140984,SADFRR,61.249.94.113,44466,210.119.66.231,80,F,...,9,tcp,0,0,0,http,1.563030e+09,-,CymALZ3lyNs4Y7pj7i,2019-07-13 15:00:00.375873089
3,3,abnorm,SHR,12.987693,^hacdttf,203.250.180.14,18004,211.239.236.9,80,F,...,0,tcp,47856,47159,36,-,1.563030e+09,-,C4VMM42zDL02w7Yty9,2019-07-13 14:59:59.823197126
4,4,abnorm,SH,0.305983,SADF,61.249.94.113,44630,210.119.66.231,80,F,...,11,tcp,0,0,0,http,1.563030e+09,-,Cocgn7RiYeKi7Lpce,2019-07-13 15:00:00.654317856

In [ ]:
dfa

In [101]:
df = df.drop(['Unnamed: 0'], axis=1)

In [102]:
len(df)

177437

In [50]:
len(df["id.orig_h"].unique())

4981

In [103]:
abnorm_ips = df[df["class"]=='abnorm']['id.orig_h'].unique()

In [104]:
len(abnorm_ips)

897

In [105]:
result_ips = result.ip.unique()

In [106]:
len(set(abnorm_ips).intersection(set(result_ips)))

406

In [107]:
len(result)

7349

In [108]:
len(result_ips)

1643

In [109]:
len(df[df["class"]=='abnorm']) / len(df)

0.07526051499969003

In [110]:
norm_ips = df[df["class"]=='norm']['id.orig_h'].unique()

In [111]:
len(norm_ips)

4781

In [112]:
len(set(abnorm_ips).intersection(norm_ips))

697

In [113]:
only_norm = list(set(norm_ips) - set(abnorm_ips))

In [114]:
only_abnorm = list(set(abnorm_ips) - set(norm_ips))

In [115]:
len(only_norm)

4084

In [116]:
len(only_abnorm)

200

In [117]:
len(set(only_abnorm).intersection(set(result_ips)))

27

In [118]:
len(set(only_norm).intersection(set(result_ips)))

1237

In [119]:
27 / 200

0.135

In [120]:
1237 / 4084

0.3028893241919687

In [121]:
abnorm_num = len(only_abnorm)
abnorm_cor = len(set(only_abnorm).intersection(set(result_ips)))
abnorm_pre = len(result_ips)
recall = abnorm_cor / abnorm_num
precision = abnorm_cor / abnorm_pre

In [122]:
recall

0.135

In [123]:
precision

0.016433353621424222

In [124]:
from sklearn.metrics import confusion_matrix, precision_recall_curve, roc_auc_score, f1_score

In [ ]:
auc = roc_auc_score(error_df.True_class, pred_y)
f1 = f1_score(error_df.True_class, pred_y)

## preprocessing

In [126]:
df["StartTime"] = pd.to_datetime(df.StartTime)
df["min"] = df["StartTime"].apply(lambda x: x.minute)
df["sec"] = df["StartTime"].apply(lambda x: x.second)
df["hour"] = df["StartTime"].apply(lambda x: x.hour)
df["time_bin"] = df.apply(lambda x:int(x["hour"]) * 60 * 60 +int(x["min"]) * 60 + int(x["sec"]), axis=1)
tb_lst = df.time_bin.unique()
tb_dict = dict()
for i in tb_lst:
    tb_dict[i] = (i - df.time_bin.min())//5
df["time_chunk"] = df["time_bin"].apply(lambda x:tb_dict[x])
# df = port_service_rate(df)
df_class = df.filter(["time_chunk", "id.orig_h", "class"], axis=1)

In [157]:
from collections import defaultdict, Counter

In [144]:
ip_dict = defaultdict(list)

In [145]:
for _, s in df_class.iterrows():
    key = (s["time_chunk"], s["id.orig_h"])
    if s["class"] not in ip_dict[key]:
        ip_dict[key].append(s["class"])

In [152]:
new_dict = dict()

In [153]:
i = 0
for k, v in ip_dict.items():
    if len(v)>1:
        i += 1
    else:
        new_dict[k] = v

In [154]:
len(new_dict)

71391

In [155]:
len(df_class["id.orig_h"].unique())

4981

In [159]:
Counter(df_class["class"])['abnorm']

13354